<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;">Xpand IT Full Stack Challenge</a>

    <div class="collapse navbar-collapse mr-auto" id="navbarNav">
        <ul class="navbar-nav mr-auto">


            <!-- Show all movies -->
            <li class="nav-item active">
                <button 
                (click)="onClickAllMovies()"
                type="submit"
                class="btn btn-color"
                name="allMovies"
                value="all"
                style="color: white; border: solid;">
                All Movies
                </button>
            </li>


            <!-- Show Top 10 movies order by revenue -->
            <li class="nav-item active">
                <button 
                (click)="onClickTopMovies()"
                type="submit" 
                class="btn btn-color" 
                name="top10" 
                value="top" 
                style="color: white; border: solid;">
                Top 10 movies ordered by revenue
                </button>
            </li>


            <!-- Show Top 10 movies order by revenue filtered by year -->
            <li class="nav-item active">
                <button 
                (click)="getTopYearMovies(input.value)"
                type="submit" 
                class="btn btn-color" 
                name="top10" 
                value="top" 
                style="color: white; border: solid;">
                Search top 10 movies ord by revenue by:
                </button>
            </li>
            <li>
                <input 
                (keyup)="getTopYearMovies(input.value)"
                (click)="getTopYearMovies(input.value)"
                type="number" 
                #input 
                size=5 
                name="year" 
                id="searchMoviesbyYear"
                class="form-control mr-sm-2" 
                placeholder="year" 
                min="1888"
                required>
            </li>
        </ul>
    </div>
</nav>


<!-- Show all movies -->
<ng-container *ngIf="showAllMovies">

    <table class="table table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title </th>
            </tr>
        </thead>
        <tbody *ngFor="let movie of movies">
            <button (click)="openModel(movie)"
            type="submit" class="btn btn-color" name="allMovies" value="all">
                {{movie.title}}
            </button>
        </tbody>
    </table>

    <div 
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
    ></div>

    <p *ngIf="noMoreMovies" style="text-align: center;">
        No more movies to show.
    </p>

</ng-container>


<!-- Show Top 10 movies order by revenue -->
<ng-container *ngIf="showTopMovies">
    <table class="table table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Revenue</th>
            </tr>
        </thead>
        <tbody *ngFor="let movie of topMovies">
            <td>
                <button 
                (click)="openModel(movie)"
                type="submit" class="btn btn-color" name="top10" value="top">
                    {{movie.title}}
                </button>
            </td>
            <td>{{movie.revenue}}</td>
        </tbody>
    </table>
</ng-container>


<!-- Show Top 10 movies order by revenue filtered by year -->
<ng-container *ngIf="showTopMoviesByYear">
    <table class="table table-striped text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Title</th>
                <th scope="col">Revenue</th>
            </tr>
        </thead>
        <tbody *ngFor="let movie of topYearMovies">
            <td>{{movie.year}}</td>
            <td>
                <button 
                (click)="openModel(movie)"
                type="submit" class="btn btn-color" name="top10" value="top">
                    {{movie.title}}
                </button>
            </td>
            <td>{{movie.revenue}}</td>
        </tbody>
    </table>
</ng-container>


<!-- Popups -->
    <div class="modal" id="movieDetails">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Movie Details</h4>
              <button type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-striped text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Title</th>
                            <th scope="col">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{movie.year}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.revenue}}</td>
                    </tbody>
                </table>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closeModel()" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
